In [1]:
# Import libraries
import pandas as pd
import great_expectations as gx

Importing Library Telah Selesai. Di Notebook ini akan kita gunakan untuk great expectations sebagai validasi data menggunakan library python.

In [2]:
# Load datasetnya
df = pd.read_csv('P2M3_maulana_achsan_data_clean.csv')

#cek
df.head(5)

,order_id,date,day,month,year,customer_age,age_group,customer_gender,country,state,product_category,sub_category,product,order_quantity,unit_cost,unit_price,profit,cost,revenue
0,1CanBri,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45.0,120.0,590.0,360.0,950.0
1,2CanBri,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45.0,120.0,590.0,360.0,950.0
2,3AusNew,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45.0,120.0,1366.0,1035.0,2401.0
3,4AusNew,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45.0,120.0,1188.0,900.0,2088.0
4,5AusNew,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45.0,120.0,238.0,180.0,418.0

Cek 5 data awal sudah selesai

In [3]:
# Convert ke Great Expectation dataframe
df_ge = gx.from_pandas(df)

Importing sudah selesai

# 1.Expectations To Be Unique

In [4]:
# Ekspektasi Untuk Unik
hasil_unique = df_ge.expect_column_values_to_be_unique("order_id")
hasil_unique

{
  "result": {
    "element_count": 113036,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Expectation to be unique merupakan ekspektasi yang harus diterapkan pada dataset ini terutama pada kolom order id. Pada kolom ini harusnya semua angka yang dihasilkan tidak boleh sama dan juga mungkin ada kesamaan dalam kode. Karena disitu saya menggunakan negara dan state sebagai string pembeda satu sama lain. Namun kepastian tidak selalu sama dipastikan oleh angka awalnya yang merupakan titik identitas setiap baris atau transaksi.

# 2. To be Between min Value and Max_Value

In [5]:
# Expectation to be between min_value and max_value

'''Ini kita lihat disini value 5 tahun dan maksimal umur 90 tahun karena kita mengasumsikan untuk angka harapan hidup 
orang luar negeri biasanya sampai 90 tahun. '''
hasil_between = df_ge.expect_column_values_to_be_between("customer_age", min_value=5, max_value=90) 
hasil_between

{
  "result": {
    "element_count": 113036,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Ekspektasi untuk nilai harus berada di minimal value dan maksimal value. Ekspektasi ini dilakukan untuk mengetes apakah customer dari bikeshop kami berada di range usia tertentu. Pada negara maju angka harapan hidup itu cenderung lebih tinggi. Maka dari itu kita mencoba membuat range untuk batas atas di angka 90 tahun. Berdasarkan pengalaman saya juga yang pernah tinggal di jerman, terdapat beberapa pengendara sepeda itu usia sudah melebihi 80 tahun jadi disini saya asumsikan usia dari pembeli maksimal harus di angka 90 tahun. Karena sangat jarang harusnya pembeli sepeda di usia 90 tahun ke atas. Untuk batas bawah saya set 5 tahun, karena jika mereka membeli sepeda untuk balita mungkin pembeli akan membeli di baby shop atau kid shop mungkin untuk pembelian sepeda balita atau batita.

# 3. To be in Set

In [37]:
# Expectation to be in set
result_in_set = df_ge.expect_column_values_to_be_in_set("customer_gender", ["M", "F"])
result_in_set

{
  "result": {
    "element_count": 113036,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Kita harus memastikan bahwa kolom gender hanya mengandung dua variabel, yaitu M untuk pria dan F untuk wanita. Ini penting agar konsistensi data terjaga dan memudahkan analisis. Dalam konteks dataset ini, tidak ada variabel lain yang digunakan untuk mengidentifikasi gender selain M dan F

# 4. To be in type list

In [7]:
# Expectation to be in type list
result_type = df_ge.expect_column_values_to_be_of_type("order_quantity", "int64")
result_type

{
  "result": {
    "observed_value": "int64"
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Kolom to be in type list ini sangat cocok untuk order quantity. Karena kita tidak mungkin order di toko sepeda kami dengan (floating number) misalkan beli sepeda setengah.

# 5. To be not null

In [8]:
# Expect Price tidak mungkin 0
hasil_gx = df_ge.expect_column_values_to_not_be_null(column='unit_price')
hasil_gx

{
  "result": {
    "element_count": 113036,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Kolom unit_price tidak boleh bernilai null karena ini merupakan harga jual setiap item. Sangat tidak lazim jika harga ini kosong atau tidak diisi. Dalam konteks toko sepeda, harga jual harus selalu ada, karena tidak mungkin ada barang yang dijual tanpa harga.

# 6. To be match to the form

In [11]:
# Expectation to match regex
result_regex = df_ge.expect_column_values_to_match_regex('order_id', r'^\d+[A-Za-z]+$')
result_regex

{
  "result": {
    "element_count": 113036,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Ekspektasi ini digunakan untuk memastikan bahwa kolom order_id mengikuti pola tertentu, yaitu diawali dengan angka dan diikuti oleh huruf. Pola r'^\d+[A-Za-z]+$' memeriksa apakah setiap nilai di kolom dimulai dengan satu atau lebih angka, kemudian diikuti oleh satu atau lebih huruf (besar atau kecil). Ini memastikan konsistensi format order_id, yang penting untuk pengelompokan atau identifikasi berdasarkan kode alfanumerik.

# 7. Sum to be between some number

In [38]:
result_regex = df_ge.expect_column_sum_to_be_between('revenue', min_value=50000000, max_value=100000000)
result_regex

{
  "result": {
    "observed_value": 85271008.0,
    "element_count": 113036,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Ini untuk memastikan bahwa total revenue selama beberapa tahun terakhir berada di antara 50 juta hingga 100 juta dolar. Basis bisnis kami di negara-negara maju membuat pendapatan dalam kisaran ratusan atau puluhan ribu dolar sangat tidak masuk akal, terutama mengingat banyaknya toko yang kami kelola. Oleh karena itu, ekspektasi ini membantu memastikan bahwa pendapatan berada dalam rentang yang wajar untuk skala bisnis kami.

# 8. Median between certain range number

In [26]:
median_validation = df_ge.expect_column_median_to_be_between('profit', min_value=100, max_value=200)
median_validation

{
  "result": {
    "observed_value": 101.0,
    "element_count": 113036,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Median validation ini digunakan untuk memastikan bahwa memang median profit kita di angka segini. Ini untuk mengetahui berapa titik tengah dari profit. Biasanya untuk tahu dari semua profit per order penjualan itu kita untung di angka berapa. Penggunaan median lebih tepat karena bisa saja kolom profit itu memiliki persebaran tidak normal, bisa saja ada orang yang beli paket sepeda sehingga profit yang kita dapatkan lebih banyak, dan akhirnya menarik mean ke atas. Median disini lebih merepresentasikan untuk cek garis besar keuntungan tiap order kita di angka berapa.

# 9. Mean have to be in between

In [33]:
rata2=df_ge.expect_column_mean_to_be_between('order_quantity', min_value=5, max_value=15)
rata2

{
  "result": {
    "observed_value": 11.901659648253654,
    "element_count": 113036,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

Mean digunakan untuk memastikan bahwa rata-rata kuantitas order berada di antara 5 hingga 15 unit. Ini penting untuk memeriksa apakah ada anomali, seperti order dalam jumlah besar yang tidak wajar (misalnya 1000 unit). Hal ini bisa terjadi karena kesalahan input atau kondisi khusus lainnya. Oleh karena itu, rata-rata kuantitas order harus tetap berada dalam kisaran yang masuk akal untuk setiap pembelian customer.